<!-- on the very top -->


<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/github-light.css" | prepend: site.baseurl }}">


<section class="page-header">

	<link rel="stylesheet" href="{{ page.url | replace:'index.html','' | prepend: site.github.url }}">{{ page.title }}
	<!--	{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" -->
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/nav.css" media="screen">
	<!-- <h1 class="project-name">Econ5170</h1>
	 -->
	 <h1>Econ5170: Computational Methods in Economics</h1>

	<a href="https://github.com/zhentaoshi/econ5170" class="btn">View on GitHub</a>
	<a href="https://github.com/zhentaoshi/econ5170/zipball/master" class="btn">Download .zip</a>
	<a href="https://github.com/zhentaoshi/econ5170/tarball/master" class="btn">Download .tar.gz</a>
</section>

	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/normalize.css" media="screen">
	    <link href="/css" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/stylesheet.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/github-light.css" media="screen">
	  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
	.en-markup-crop-options {
	    top: 18px !important;
	    left: 50% !important;
	    margin-left: -100px !important;
	    width: 200px !important;
	    border: 2px rgba(255,255,255,.38) solid !important;
	    border-radius: 4px !important;
	}

</head>
